<title>Pokedex 2021, by Fial Consulting</title>
<!-- https://github.com/PdxCodeGuild/class_salmon/blob/main/4%20Django/labs/lab07-pokedex.md
 -->

<header>

    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }}!</h1>
    <p><a href="{% url 'logout' %}">Logout</a><p>
    {% else %}
    <h3>Welcome, visitor!</h3>
    <p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
    {% endif %}
</header>

<div id="vue_app">
    
    {% csrf_token %}
    
    <div id="newdiv!">

{% comment %} 
THIS IS A DJANGO COMMENT SECTION, ANY CODE WILL NOT APPEAR TO VUE OR THE BROWSER:

TODO:
    -- make an image_front and image_back alt="" text like :alt="'image_back for' [[ pokemon.name ]]"
    -- ORDER by density!
    -- add colors / styles
    -- add add new pokemon form
    -- add edit new pokemon page detail.html
    -- add types / caught_by
    -- 

{% endcomment %}

        <div v-for="pokemon in pokemon_list" :key="pokemon.id">
                <h2>
                    [[ pokemon.number ]]: [[ pokemon.name ]]
                </h2>
                <ul>    
                    <li>Height: [[ pokemon.height ]] </li>
                    <li>Weight: [[ pokemon.weight ]] </li>
                    <li>Density : [[ pokemon.weight / pokemon.height ]] </li>
                    
                    <!-- TEMPORARILY COMMENTED OUT FOR QUICKER PAGE LOADING -->
                    <!-- <img :src="[[ pokemon.image_front ]]" > -->
                    <!-- <img :src="[[ pokemon.image_back ]]" > -->

                    <!-- BLANK FOR NOW: -->
                    <!-- <li>caught_by: [[ pokemon.caught_by ]] </li> -->
                    <!-- <li>types: [[ pokemon.types ]] </li> -->
                </ul>
            {% comment %} <h3>            </h3> {% endcomment %}
        </div>
    </div>
    
    <footer>
        nothing in the footer for nowsies
    </footer>
</div> <!-- END VUE.JS DIV ID="vue_app" -->

<script src="https://unpkg.com/axios/dist/axios.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
<script>
    new Vue({
        el: "#vue_app",
        delimiters: ['[[', ']]'],
        data: {
            csrf_token: '',
            error: {},
            pokemon_list: [],
            new_pokemon: {                            
                number: 0,
                name: '',
                height: 0,
                weight: 0,
                image_front: '',
                image_back: '',
                caught_by: '',
                types: '',
            },
        }, // end Vue data
        methods: {
            populate_pokemon: function() {
                axios({
                    method: 'GET',
                    url: '/api/v1/pokemon/',
                }).then(response => {
                    this.pokemon_list = response.data
                }).catch(error => {
                    console.log('error @ populate_pokemon: function()')
                    console.log(error)
                    console.log(error.response.data)
                    this.error = error
                })
            }, // end populate_pokemon: function()
            add_new_pokemon: function() {
                axios({
                    method: 'POST',
                    url: '/api/v1/pokemon/',
                    headers: {
                        'X-CSRFToken': this.csrf_token
                    }
                }).then(response => {
                    location.reload() // basic JS reload-webpage syntax
                }).catch(error => {                    
                    console.log('error @ add_new_pokemon: function()')
                    console.log(error)
                    console.log(error.response.data)
                    this.error = error
                })
            }, // end add_new_pokemon: function()
        }, // end Vue methods
        created: function() {

        }, // end Vue created, which executes on vue JS creation
        mounted: function() {
            this.csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value // annoying but necessary
            this.populate_pokemon()
        }, // end Vue mounted, which executes on full JS page load
    }) // end Vue

    
    
</script>
    
    {% comment %} 
    1. create Vue app
    2 Add methods
        api pull pokemon list
        api post new list
        api delete pokemon
        api modify existing pokemon
            django detail page
                try an IF existing field modified, only send it to API if it's different, that would be ideal for scalability...
    HTML:
    3. for loop 
    4 display all elements of pokemon

 {% endcomment %}

{% comment %} TODO  {% endcomment %}
{% comment %} create vue app {% endcomment %}
{% comment %} add methods {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %} for loop {% endcomment %}