{% if user.is_authenticated %}
<h1>Welcome {{ user.username }}!</h1>
<p><a href="{% url 'logout' %}">Logout</a><p>
{% else %}
<h1>Welcome, visitor!</h1>
<p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
{% endif %}

{% csrf_token %}

<div id="vue_app">
    <div id="newdiv!">
        <p v-for="pokemon in pokemon_list" :key="pokemon.id">
            [[ pokemon ]]
            [[ pokemon.name ]]
        </p>

    </div>
    
    <footer>
        nothing in the footer        
    </footer>
</div>

<script src="https://unpkg.com/axios/dist/axios.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" ></script>
<script>
    new Vue({
        el: "#vue_app",
        delimiters: ['[[', ']]'],
        data: {
            csrf_token: '',
            new_pokemon: {                            
                number: 0,
                name: '',
                height: 0,
                weight: 0,
                image_front: 0,
                image_back: '',
                caught_by: '',
                types: '',
            },
            error: {},
            pokemon_list: [],
        }, // end Vue data
        methods: {
            populate_pokemon: function() {
                axios({
                    method: 'GET',
                    url: '/api/v1/pokemon/',
                }).then(response => {
                    this.pokemon_list = response.data
                }).catch(error => {
                    console.log('error @ populate_pokemon: function()')
                    console.log(error)
                    console.log(error.response.data)
                    this.error = error
                })
            }, // end populate_pokemon: function()
            add_new_pokemon: function() {
                axios({
                    method: 'POST',
                    url: '/api/v1/pokemon/',
                    headers: {
                        'X-CSRFToken': this.csrf_token
                    }
                }).then(response => {
                    location.reload() // basic JS reload-webpage syntax
                }).catch(error => {                    
                    console.log('error @ add_new_pokemon: function()')
                    console.log(error)
                    console.log(error.response.data)
                    this.error = error
                })
            }, // end add_new_pokemon: function()
        }, // end Vue methods
        created: function() {

        }, // end Vue created, which executes on vue JS creation
        mounted: function() {
            this.csrf_token = document.querySelector('input[name="csrfmiddlewaretoken"]').value // annoying but necessary
            this.populate_pokemon()
        }, // end Vue mounted, which executes on full JS page load
    }) // end Vue

    
    
</script>
    
    {% comment %} 
    1. create Vue app
    2 Add methods
        api pull pokemon list
        api post new list
        api delete pokemon
        api modify existing pokemon
            django detail page
                try an IF existing field modified, only send it to API if it's different, that would be ideal for scalability...
    HTML:
    3. for loop 
    4 display all elements of pokemon

 {% endcomment %}

{% comment %} TODO  {% endcomment %}
{% comment %} create vue app {% endcomment %}
{% comment %} add methods {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %} for loop {% endcomment %}