{% if user.is_authenticated %}
<h1>Welcome {{ user.username }}!</h1>
<p><a href="{% url 'logout' %}">Logout</a><p>
{% else %}
<h1>Welcome, visitor!</h1>
<p>You are not logged in. <a href="{% url 'login' %}">Login</a> <a href="{% url 'users:signup' %}">Sign Up</a></p>
{% endif %}

{% comment %} 
    1. create Vue app
    2 Add methods
        api pull pokemon list
        api post new list
        api delete pokemon
        api modify existing pokemon
            django detail page
                try an IF existing field modified, only send it to API if it's different, that would be ideal for scalability...
    HTML:
    3. for loop 
    4 display all elements of pokemon

 {% endcomment %}

{% comment %} TODO  {% endcomment %}
{% comment %} create vue app {% endcomment %}
{% comment %} add methods {% endcomment %}
{% comment %}  {% endcomment %}
{% comment %} for loop {% endcomment %}