<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS import line -->
    <title>Lab2 Flask To-Do list</title>
</head>
<body>
    <form action="POST">
        Form text here...
    </form>
    
    <!-- test dropdown  -->
    <label for="priority">Choose a priority:</label>
    <select name="priority" id="priority">
            <option value="low">Low</option>
            <option value="medium">Med</option>
            <option value="high">High</option>
        </div>
      </div>
</body>
</html>